.container {
  /* position: relative; */
  display: flex;
  gap: 5%;
}


.profileContainer {
  margin: 8rem auto;
  width: 100%;
  padding: 15px 250px 10px 250px;
}

@media screen and (max-width: 1500px) {
  .profileContainer {
    padding: 15px 10% 10px 10%;
  }
}

@media screen and (max-width: 1300px) {
    .profileContainer {
        margin: 8rem auto;
        padding: 15px 5% 10px 5%;
      }
}

@media screen and (max-width: 850px) {
  .container {
    display: block;
  }
  .profileContainer {
    margin: 8rem auto;
    padding: 0px;
  }
}

