/* CSS for Teacher Card */
.teacherCard {
  padding: 15px;
  width: 600px;
  height: 250px;
  display: flex;
  /* margin-bottom: 20px; */
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border: 1px solid black;
  z-index: 0;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.teacherCardHeader {
  display: flex;
  margin-bottom: 5px;
}
.teacherCardLSection {
  margin: 5px;
}
.teacherCardImage {
  width: 160px;
  height: 160px;
  object-fit: cover;
  padding: 5px;
  border: 0.5px solid black;
  /* border-radius: 50% 50% 0 0; */
}

.teacherCardDetails {
  flex: 1;
  margin-left: 10px;
}

.teacherCardName a {
  font-size: 16px;
  font-family: "Gyahegi", sans-serif;
  margin: 0 5px 5px 0px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.teacherCardName a:hover {
  color: #ec663e;
}
.teacherCardName {
  margin-bottom: 3px;
}
.teacherCardIcons {
  /* margin-bottom: 3px; */
  font-family: "URW Geometric", sans-serif;
}
.teacherCardIcons span {
  font-size: 13px;
}
.teacherCardIcon {
  display: inline-block;
  margin-right: 3px;
  font-family: "URW Geometric", sans-serif;
  padding: 3px;
  border-radius: 4px;
  font-size: 13px;
}

.teacherCardCertifications {
  margin-bottom: 3px;
}

.teacherCardCertification {
  display: inline-block;
  margin-right: 3px;
  font-family: "URW Geometric", sans-serif;
  font-size: 13px;
  /* background-color: #ddd; */
  padding: 5px;
  border-radius: 4px;
}

.teacherCardDescription {
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: "URW Geometric", sans-serif;
}
.teacherCardRSection {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.teacherCardReviews {
  /* display: flex;
  align-items: center; */
  margin: 10px;
}

.teacherCardRating {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.teacherCardPrice {
  font-size: 16px;
  font-weight: bold;
}

.teacherCardButtons {
  margin-left: 10px;
}

.teacherCardReviewButton {
  padding: 12px 24px;
  border: 1px solid black;
  background-color: white;
  color: #131418;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  /* width: 130px; */
  width: 8rem;
}
/* #3F8F8B; */
/* #118c4 */
/* #4daaa7 */
.teacherCardMessageButton {
  padding: 12px 24px;
  border: 1px solid #ec663e;
  background-color: #ec663e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  width: 7rem;
  /* width: 130px; */
}

.teacherCardReviewButton:hover {
  border: 1px solid #131418;
  background-color: #131418;
  color: white;
}
.teacherCardMessageButton:hover {
  /* border: 1px solid black; */
  background-color: white;
  color: #ec663e;
}

.Stars {
  --star-size: 25px;
  --star-color: #ddd;
  --star-background: #fc0;
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: "★★★★★";
  letter-spacing:3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teacherInfoCard {
  padding: 15px;
  margin-bottom: 20px;
  /* align-items: flex-start;
  display: flex;
  gap: 2%; */
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  z-index: 0;
}
@media only screen and (max-width: 1024px) {
  .teacherCard {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 2%;
  }

  .teacherCardHeader {
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
  }

  .teacherCardButtons {
    flex-direction: row;
    justify-content: space-between;
  }

  .teacherCardButtons button {
    margin-top: 0.5rem;
  }
  .teacherCardButtons {
    margin: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .teacherCard {
    padding: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 2%;
  }

  .teacherCardHeader {
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
  }

  .teacherCardButtons {
    flex-direction: row;
    justify-content: space-between;
  }

  .teacherCardButtons button {
    margin-top: 0.5rem;
  }
  .teacherCardButtons {
    margin: 5px;
  }
  /* Add this CSS to display the burger icon */
  .navToggleIcon span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #031424;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .navToggleIcon span:last-child {
    margin-bottom: 0;
  }

  /* Rotate the top and bottom lines to create the burger icon effect */
  .navToggle:checked + .navToggleIcon span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .navToggle:checked + .navToggleIcon span:nth-child(2) {
    opacity: 0;
  }

  .navToggle:checked + .navToggleIcon span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

@media only screen and (max-width: 480px) {
  .teacherCard {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 2%;
  }

  .teacherCardHeader {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
  }

  .teacherCardLSection {
    order: 1;
    flex: 1 0 50%;
  }

  .teacherCardDetails {
    order: 3;
    flex: 1 0 200%;
    margin-top: 0px;
  }

  .teacherCardRSection {
    order: 2;
    flex: 1 0 50%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
  }

  .teacherCardButtons {
    flex-direction: row;
    justify-content: space-between;
  }

  .teacherCardButtons button {
    margin-top: 0.5rem;
  }
  .teacherCardButtons {
    margin: 5px;
  }
  .teacherCardReviewButton,
  .teacherCardMessageButton {
    /* width:75%; */
    width: 7rem;
  }
}
@media only screen and (max-width: 390px) {
  .teacherCard {
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 2%;
  }

  .teacherCardHeader {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
  }

  .teacherCardLSection {
    order: 1;
    flex: 1 0 50%;
  }

  .teacherCardDetails {
    order: 3;
    flex: 1 0 200%;
    margin-top: 0px;
  }

  .teacherCardRSection {
    order: 2;
    flex: 1 0 50%;
    width: 150px;
    display: block;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-top: 0px;
  }

  .teacherCardButtons {
    flex-direction: row;
    justify-content: space-between;
  }

  .teacherCardButtons button {
    margin-top: 0.5rem;
  }
  .teacherCardButtons {
    margin: 5px;
  }
  .teacherCardReviewButton,
  .teacherCardMessageButton {
    /* width:75%; */
    width: 6.5rem;
    padding:12px 24px;
    margin-left: 0px;
  }
  .Stars {
    --star-size: 21px;
    --star-color: #ddd;
    --star-background: #fc0;
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    text-align: center;
  }
  .teacherCardReviews{
    margin: 10px;
    margin-left: 0px;
  }
}
