.teacherCardReviewButton {
  padding: 12px 24px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  /* width: 130px; */
  width: 7rem;
}
.teacherCardReviewButton:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.button {
  padding: 6px 12px;
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0px;
}
.button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.title {
  font-family: "Gyahegi", sans-serif;
  margin-bottom: 10px;
}
.rating {
  display: flex;
  flex-direction: column;
  font-family: "URW Geometric", sans-serif;
  margin-bottom: 10px;
}
.rating input,
.review textarea {
  border: 0.2px solid black;
  border-radius: 0px !important;
  color: black;
  padding: 5px;
}
.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.teacherProfielCardReviewBtn {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  background: transparent;
  color: #097bbf;
  outline: none;
  cursor: pointer;
}
.teacherProfielCardReviewBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@media only screen and (max-width: 390px) {
  .teacherCardReviewButton{
    width:6.5rem;
    margin-left: 0px;
  }
}
