@import url("https://fonts.cdnfonts.com/css/gyahegi");
@import url("https://fonts.cdnfonts.com/css/urw-geometric");

.WhoNeedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 70px auto;
  padding: 5px 5%;
}

.WhoNeedTitle {
  font-family: "Gyahegi", sans-serif;
  font-size: 40px;
  margin-top: 100px;
}

.WhoNeedWrapper {
  display: flex;
}
.WhoNeedImagesWrapper {
  position: relative;
}
.WhoNeedImagesWrapper img {
  object-fit: cover;
}

.WhoNeedImage2 {
  position: absolute;
  top: 50px;
}

.whoNeedTitle {
  font-family: "Gyahegi", sans-serif;
  font-size: 16px;
}

.whoNeedDescription {
  font-family: "URW Geometric", sans-serif;
  font-size: 20px;
}

.whoNeedSection {
  margin-bottom: 30px;
}

/* Base */

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3%;
  align-items: center;
  margin: 0;
  font-size: 24px;
  font-size: calc(24px + 14px * ((100vw - 200px) / 1300));
}

h1 *:first-child {
  letter-spacing: -5px;
  font-size: 70px;
  font-size: calc(70px + 50px * ((100vw - 200px) / 1300));
}

/*
 * Layout
 * ------
 */

.l-container {
  max-width: 1240px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.l-center {
  /* min-height: 100vh; */
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.l-center > * {
  width: 100%;
}

.l-grid {
  display: grid;
  grid-template-columns: minmax(600px, 40%) 1fr;
  grid-gap: 0%;
  /* align-items: center; */
  justify-content: center;
}
.l-max {
  max-width: 500px;
  margin: auto;
}

/*
 * Object: Aspect Ratio
 * --------------------
 */

.o-aspect-ratio {
  position: relative;
  overflow: hidden;
}

.o-aspect-ratio::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.o-aspect-ratio[data-padding="80"]::before {
  padding-top: 80%;
}

.o-aspect-ratio[data-padding="66"]::before {
  padding-top: 66%;
}

.o-aspect-ratio__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
}

/*
 * Object: Overlap
 * ---------------
 */

.o-overlap-bottom,
.o-overlap-top {
  position: absolute;
  width: 70%;
}

.o-overlap-bottom {
  left: 0;
  top: 0;
}

.o-overlap-top {
  right: 0;
  bottom: 0;
}

.o-overlap-bottom__deco {
  background: #37493e;
  width: 15%;
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  transform: translateX(95%);
}

.o-overlap-top__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  border-top: 3px solid black;
  border-right: 3px solid black;
  opacity: 0.8;
  transform: translate(-130%, 115%);
}

@media only screen and (max-width: 1300px) {
  .l-grid {
    grid-template-columns: 100%;
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .WhoNeedSection {
    margin-right: 20px;
    margin-left: 20px;
  }
  .WhoNeedTitle {
    margin-top: 5%;
    font-size: 25px;
  }
}
